/* basic style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: l, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  text-align: right;
}

.header__image {
  width: 100%;
}

.header__more-info {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}

.main {
  width: 500px;
  margin: 0 auto;
}

.task-add {
  margin: 20px 0;
}

.task-add__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-add__row {
  display: flex;
}

.task-add__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-add__button {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  width: 60px;
  cursor: pointer;
}

.task-add__button:hover {
  color: #3a3a3a;
}

.task-add__button--add {
  color: #888;
}

.task-list {
  margin: 0;
  padding: 0;
}

.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__checkbox {
  margin: 0 10px;
}

.task__label {
  padding-left: 10px;
  font-size: 18px;
  width: 226px;
}

.task__input {
  width: 226px;
}

.task__button {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  width: 60px;
  cursor: pointer;
}

.task__button:hover {
  color: #3a3a3a;
}

.task__button-image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__button--delete:hover .task__button-image {
  transform: rotateZ(0);
}

/* task state modifiers */
.task--completed .task__label {
  text-decoration: line-through;
  color: #888;
}

.task--editing .task__label {
  display: none;
}

.task--editing .task__input {
  display: inline-block;
  width: 224px;
}

h3,
label[for="new__task"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

input[type="text"]:focus {
  color: #333;
}

/* task list */

li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

li>* {
  vertical-align: middle;
}

li>input[type="checkbox"] {
  margin: 0 10px;
}

li>label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

li>input[type="text"] {
  width: 226px;
}

button.delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

button.delete img:hover {
  transform: rotateZ(0);
}

/* completed */
ul#completed__tasks label {
  text-decoration-line: line-through;
  text-decoration-color: #888;
  text-decoration-style: solid;
}

/* edit task */
ul li input[type=text] {
  display: none;
}

ul li.edit__mode input[type=text] {
  display: inline-block;
  width: 224px;
}

ul li.edit__mode label {
  display: none;
}